*{
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #3E8E7E;
    color: #FAEDC6;
    text-align: center;
}
h1{
    text-align: center;
}
.board{
    display: grid;
    grid-template-columns: auto auto auto;
    height: 200px;
    width: 200px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}
.board li{
    height: 40px;
    width: 40px;
    font-size: 30px;
    background: #7CD1B8;
    color: #FABB51;
    list-style: none;
    text-align: center;
    border-radius: 5px;
}
.board li:hover{
    cursor: pointer;
    background: #107964;
}
#message{
    background: #519259;
    color: #FAEDC6;
    position: absolute;
    top:110px;
    width: 100%;
}
.tic,.tac,.toe{
    display: inline-block;
    font-size: 30px;
    margin: 3px;
    font-weight: 600;
    animation-name: anim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.b {
	box-shadow:inset 0px 0px 0px 0px #437917;
	background:linear-gradient(to bottom, #6febbb 5%, #22a32d 100%);
	background-color:#3b7d4b;
	border-radius:7px;
	border:0px;
	display:inline-block;
	cursor:pointer;
	color:#FAEDC6;
	font-family:Arial;
	font-size:13px;
	padding:13px 51px;
	text-decoration:none;
	text-shadow:0px 1px 0px #344d3a;
    position: absolute;
    top:160px;
    left: 45%;
}
.b:hover {
	background:linear-gradient(to bottom, #22a32d 5%, #6febbb 100%);
	background-color:#22a32d;
}

@keyframes anim{
    from {margin-left: 3px; margin-right: 3px; font-size: 30px; font-weight: 600; }
    to {margin-left: 8px; margin-right: 8px; font-size: 60px; font-weight: 300;}
}